body,
html,
#root {
  height: 100%;
  background-color: #000000;
}

html {
  font-size: 18px;
}

h1 {
  padding: .50rem 0;
  margin-top: 0;
  margin-bottom: 0;
  background-color: #000000;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 3.0rem;
  color: rgb(207, 207, 207);
}

h1 .greenHighlight {
  color: #287428;
}
h1 .yellowHighlight {
  color: #e2df35;
}
h1 .redHighlight {
  color: #bd1b1b;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.55rem;
}

p {
  font-family: 'Poppins', sans-serif;
  font-size: 0.9rem;
}

.App {
  height: 100%;
  padding: 0 15% 10% 15%;
  background-image: url('./background_photo_desktop.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  color: rgb(255, 255, 255);
}

.App-playlist {
  display: flex;
  
  justify-content: space-between;
  width: 100%;
}

@media only screen and (max-width: 1020px) {
  .App-playlist {
    align-items: center;
    flex-direction: column;
  }
}